<!DOCTYPE html>

<html>

	<head>
		<!--Code by TechnicalFox-->
		<title>Fox Latch</title>
		
		<link
		rel="icon"
        type="image/x-ico"
        href="http://www.csh.rit.edu:3333/fox_icon.ico" 
		/>
		
		<nav>
            <ul style="list-style-type:none; margin:0; padding:0;">
                <li style="display:inline;"> 
					<a href="/index.html">Home</a> 
					<a href="/about.html">About</a>
				</li>	
            </ul>
        </nav>
		
	</head>
	
	<body>
	
		<img
			src="/fox_logo.png"
			width="651.2"
			height="526"
			style="margin-left:auto; margin-right:auto; display:block;"
		/>
		
		<div style="text-align:center;">
			<h1 style="text-decoration:underline;">This is the test page for Fox Latch.</h1>
		</div>
		
	</body>
	
</html>
