<!DOCTYPE html>

<html>

	<head>
		<!--Code by TechnicalFox-->
		<title>Fox Latch: Register</title>
		
		<link
		rel="shortcut icon"
        href="/static/favicon.ico"
		/>
		
		<nav>
            <ul style="list-style-type:none; margin:0; padding:0;">
                <li style="display:inline;"> 
					<a href="/">Home</a> 
                    <a href="/about">About</a>
                    <a href="/register">Register</a>
				</li>	
            </ul>
        </nav>
		
	</head>
	
	<body>
	
		<img
        src="/static/fox_logo.png"
			width="651.2"
			height="526"
			style="margin-left:auto; margin-right:auto; display:block;"
		/>

        <div>
            <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}<h3>Please correct the following fields:</h3>{% endif %}
            <p>Username:        {{ form.username }}  {% if form.username.errors %}  {{ form.username.errors }}  </p>{% endif %}
            <p>Email:           {{ form.email }}     {% if form.email.errors %}     {{ form.email.errors }}     </p>{% endif %}
            <p>Password:        {{ form.password }}  {% if form.password.errors %}  {{ form.password.errors }}  </p>{% endif %}
            <p>Verify Password: {{ form.password1 }} {% if form.password1.errors %} {{ form.password1.errors }} </p>{% endif %}
            <p><br>IP Address:  {{ form.ip }}        {% if form.ip.errors %}        {{ form.ip.errors }}        </p>{% endif %}
            <p><input type="submit" /></p>
        </div>

	</body>
	
</html>
