{% extends "base.html" %}

{% block head %}
    <title>Fox Latch: Register</title>
{% endblock %}

{% block body %}
    <div>
        <form action="" method="post">
        {% csrf_token %}
        {% if form.errors %}<h3>Please correct the following fields:</h3>{% endif %}
        <p>Username:        {{ form.username }}  {% if form.username.errors %}  {{ form.username.errors }}  </p>{% endif %}
        <p>Email:           {{ form.email }}     {% if form.email.errors %}     {{ form.email.errors }}     </p>{% endif %}
        <p>Password:        {{ form.password }}  {% if form.password.errors %}  {{ form.password.errors }}  </p>{% endif %}
        <p>Verify Password: {{ form.password1 }} {% if form.password1.errors %} {{ form.password1.errors }} </p>{% endif %}
        <p><br>IP Address:  {{ form.ip }}        {% if form.ip.errors %}        {{ form.ip.errors }}        </p>{% endif %}
        <p><input type="submit" /></p>
    </div>
{% endblock %}
